* {
  margin: 0;
  font-family: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background: #01093e;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  font-family: sans-serif;
  color: #201f1f;
  padding: 0  0 20px 20px ;
}

.calculator {
  background: #d5d5d5;
  padding: 20px;
  border-radius: 20px;
}

.calculator form input {
  border: 0;
  outline: 0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #201f1f;
  box-shadow: 10px 5px 0.5em rgb(0, 0, 0), -5px 0 0.5em rgba(95, 90, 90, 0.486);
  font-size: 40px;
  color: #d5d5d5;
  cursor: pointer;
  margin: 20px;
}

.calculator form input:active {
  background: black;
}

form .display {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

form .display input {
  text-align: right;
  flex: 1;
  color: #201f1f;
  font-weight: bold;
  font-size: 50px;
  box-shadow: none;
  border-radius: 20px;
  background: rgba(95, 90, 90, 0.168);
}

form input.equal {
  width: 170px;
  border-radius: 40px;
}

form input.operator {
  color: rgba(0, 0, 0, 0.638);
}
