* {
  margin: 0;
  font-family: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background: #00000060;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 100px) and (max-width: 767px) {
  .container {
    width: 100%;
    height: 100vh;
white-space: nowrap;
    .calculator {
      border: 1px solid #000;
      padding: 5px;
    }

    .calculator h1 {
      font-size: 20px;
      padding: 0;
    }
    .calculator form input {
      border: 0;
      outline: 0;
      /* width: 30px; */
      /* height: 30px; */
      font-size: 20px;
      margin: 10px;
    }
    form .display {
      margin: 5px 0;
    }

    
  }
}
/* @media  screen and  (min-width: 1200px)  {
 .container {
  width: 100%;
  height: 100vh;
 }
  
} */

h1 {
  font-family: cursive;
  color: #201f1f;
  padding: 0 0 20px 20px;
}

.calculator {
  background: #00000000;
  padding: 10px;
  border: 1px solid #fff;
  /* box-shadow: inset -6px -6px  13px  rgba(95, 90, 90, 0.486) ,  inset 6px 6px 13px  rgba(95, 90, 90, 0.486); */
  border-radius: 20px;
  box-shadow: inset 10px 3px 50px #ffffff60, inset -1em 0 50px #00000060;
}

.calculator form input {
  border: 0;
  outline: 0;
  width: 50px;
  height: 50px;
  border-radius: 30%;
  background: #201f1f;
  box-shadow: 10px 5px 0.5em rgb(0, 0, 0), -5px 0 0.5em rgba(95, 90, 90, 0.486);
  font-size: 30px;
  color: #d5d5d5;
  cursor: pointer;
  margin: 15px;
}

.calculator form input:active {
  background: black;
}

form .display {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

form .display input {
  text-align: right;
  flex: 1;
  color: #201f1f;
  font-weight: bold;
  padding-right: 20px;
  font-size: 30px;
  box-shadow: inset -6px -6px 13px rgba(95, 90, 90, 0.486),
    inset 6px 6px 13px rgba(95, 90, 90, 0.486);
  border-radius: 10px;
  background: rgba(255, 252, 252, 0.676);
}

form input.equal {
  width: 130px;
  border-radius: 40px;
}

form input.operator {
  color: rgba(255, 236, 236, 0.638);
}
